<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сокращение ссылок</title>

    <link rel="stylesheet" href="/style/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/generate.js"></script>
</head>
<body>
<div class="container">
    <input id="input-link" type="text" placeholder="Example: https://www.google.com">
    <br>
    <br>
    <button class="accept-btn">Go!</button>
</div>
</body>
</html>